<%= form_for(@monthly_record) do |f| %>
  <% if @monthly_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monthly_record.errors.count, "error") %> prohibited this monthly_record from being saved:</h2>

      <ul>
      <% @monthly_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :month %><br>
    <%= f.date_select :month %>
  </div>
  <div class="field">
    <%= f.label :salary %><br>
    <%= f.number_field :salary %>
  </div>
  <div class="field">
    <%= f.label :welfare %><br>
    <%= f.number_field :welfare %>
  </div>
  <div class="field">
    <%= f.label :carfare %><br>
    <%= f.number_field :carfare %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
