<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @monthly_recode.user_id %>
</p>

<p>
  <strong>Month:</strong>
  <%= @monthly_recode.month %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @monthly_recode.salary %>
</p>

<p>
  <strong>Welfare:</strong>
  <%= @monthly_recode.welfare %>
</p>

<p>
  <strong>Carfare:</strong>
  <%= @monthly_recode.carfare %>
</p>

<%= link_to 'Edit', edit_monthly_recode_path(@monthly_recode) %> |
<%= link_to 'Back', monthly_recodes_path %>
