<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @daily_work.user_id %>
</p>

<p>
  <strong>Unit mission:</strong>
  <%= @daily_work.unit_mission_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @daily_work.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @daily_work.end_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @daily_work.status %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @daily_work.contents %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @daily_work.memo %>
</p>

<%= link_to 'Edit', edit_daily_work_path(@daily_work) %> |
<%= link_to 'Back', daily_works_path %>
