<h1>Listing missions</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Mission type</th>
      <th>Title</th>
      <th>Contents</th>
      <th>Nes work time</th>
      <th>Unnes work time min</th>
      <th>Unnes work time max</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.company_id %></td>
        <td><%= mission.mission_type %></td>
        <td><%= mission.title %></td>
        <td><%= mission.contents %></td>
        <td><%= mission.nes_work_time %></td>
        <td><%= mission.unnes_work_time_min %></td>
        <td><%= mission.unnes_work_time_max %></td>
        <td><%= link_to 'Show', mission %></td>
        <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
        <td><%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mission', new_mission_path %>
