<!DOCTYPE html>
<html ng-app="pondApp">
<head>
  <title>PonD</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "api_client" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="page-header">
    <h1 id="title">PonD</h1>
  </header>

  <div id="container">
    <div id="sidemenu">
      <div id="usermenu">
	<%# image_tag(avatar_url(current_user.email), :class => "account") %>
      </div>
      <ul>
	<li>週報</li>
	<li><%= link_to '分析', controller:"analysis", action:"index" %></li>
	<li>メンバー</li>
      </ul>
    </div>
    <div id="contents">
      <%= yield %>
    </div>
  </div>

</body>
</html>
